<?xml version="1.0"?>
<launch>
  <!--
    Launch file to start RViz with a preconfigured display layout from the cv_ur5_project.rviz config file.
  -->

  <!-- Launch RViz with the custom configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cv_ur5_project)/cv_ur5_project.rviz" />
</launch>
