<?xml version="1.0" ?>
<robot name="BlueCube" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find cv_ur5_project)/urdf/materials.xacro" />
<xacro:property name="body_color" value="0.419 0.796 0.898" /> 

<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0381 5.138960364491298e-18" rpy="0 0 0"/>
    <mass value="3.4732382148"/>
    <inertia ixx="0.003361" iyy="0.003361" izz="0.003361" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 1.664629" rpy="1.5708 0 0"/>
    <geometry>
      <mesh filename="package://cv_ur5_project/meshes/cube_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="blue"/>
  </visual>
  <collision>
    <origin xyz="0 0 1.664629" rpy="1.5708 0 0"/>
    <geometry>
      <mesh filename="package://cv_ur5_project/meshes/cube_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<gazebo reference="base_link">
  <material>${body_color}</material>
    <mu1>5</mu1>
    <mu2>5</mu2>
</gazebo>

</robot>
