<?xml version="1.0" ?>
<robot name="GreenCylinder" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find cv_ur5_project)/urdf/materials.xacro" />
<xacro:property name="body_color" value="0.537 0.878 0.651" />

<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.04127499999999999 0.0" rpy="0 0 0"/>
    <mass value="1.0055881486229423"/>
    <inertia ixx="0.000695" iyy="0.000248" izz="0.000695" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.8 0.4 1.11125" rpy="1.5708 0 0"/>
    <geometry>
      <mesh filename="package://cv_ur5_project/meshes/cylinder_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="0.8 0.4 1.11125" rpy="1.5708 0 0"/>
    <geometry>
      <mesh filename="package://cv_ur5_project/meshes/cylinder_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<gazebo reference="base_link">
  <material>${body_color}</material>
</gazebo>

</robot>
