<?xml version="1.0" ?>
<robot name="table" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find cv_ur5_project)/urdf/materials.xacro" />
<xacro:property name="body_color1" value="0.675 0.675 0.675" />
<xacro:property name="body_color2" value="0.961 0.961 0.953" />


<link name="world"/>

<joint name = "joint_fix" type = "fixed">
  <parent link="world"/>
  <child link = "table_link"/>
</joint>


<!-- Define base_link as the root link -->
<link name="table_link">
  <inertial>
    <origin xyz="0.8381999999999986 -0.22674260990281273 -0.5333999999999964" rpy="0 0 0"/>
    <mass value="422.15116184814156"/>
    <inertia ixx="105.743581" iyy="222.544559" izz="209.556172" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 1.0668 " rpy="1.5708 0 0"/>
    <geometry>
      <mesh filename="package://cv_ur5_project/meshes/table_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="gray"/>
  </visual>
  <collision>
    <origin xyz="0 0 1.0668 " rpy="1.5708 0 0"/>
    <geometry>
      <mesh filename="package://cv_ur5_project/meshes/table_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- Joint connecting base_link to WhiteBox_1 -->
<joint name="whitebox_joint" type="fixed">
  <origin xyz="0 0 1.0668" rpy="0 0 0"/>
  <parent link="table_link"/>
  <child link="WhiteBox"/>
</joint>

<!-- Define WhiteBox_1 link -->
<link name="WhiteBox">
  <inertial>
    <origin xyz="-1.3167221923904293e-08 0.03334555837563434 9.325099425971928e-08" rpy="0 0 0"/>
    <mass value="1.0693583451499975"/>
    <inertia ixx="0.009978" iyy="0.017662" izz="0.009978" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.0 0.0 " rpy="1.5708 0 0"/>
    <geometry>
      <mesh filename="package://cv_ur5_project/meshes/WhiteBox.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="off_white"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.0 " rpy="1.5708 0 0"/>
    <geometry>
      <mesh filename="package://cv_ur5_project/meshes/WhiteBox.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<gazebo reference="table_link">
  <mu1>10</mu1>
  <mu2>10</mu2>
  <material>${body_color1}</material>
</gazebo>

<gazebo reference="WhiteBox">
  <mu1>10</mu1>
  <mu2>10</mu2>
  <material>${body_color2}</material>
</gazebo>

</robot>




